/**********************************************************
Fonts
**********************************************************/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

/**********************************************************
Variables
**********************************************************/
:root {
  --ff-primary: "Raleway", sans-serif;
  --clr-text: #666;
  --clr-headPrimary: #484848;
  --clr-headSecondary: #aaaaaa;
  --clr-border: #e3e3e3;
  --clr-accent: #f32853;
  --clr-white: #fff;
  --clr-background: #f6f6f6;
  --transition: all 0.3s ease;
}

/**********************************************************
Basic styles
**********************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: var(--ff-primary);
  color: var(--clr-text);
  line-height: 1.6;
  font-weight: 400;
  font-size: 1rem;
}

a {
  text-decoration: none;
  transition: var(--transition);
}

img {
  width: 100%;
  display: block;
}
h1 {
  font-size: 4rem;
  color: var(--clr-white);
  text-transform: uppercase;
}

h2 {
  color: var(--clr-headPrimary);
  font-size: 3rem;
  text-transform: uppercase;
}

h3 {
  color: var(--clr-headPrimary);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

h4 {
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--clr-headSecondary);
  font-weight: 400;
}

h5 {
  text-transform: uppercase;
  color: var(--clr-headSecondary);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1em;
}

p {
  font-size: 1.1rem;
}

ul {
  list-style: none;
}

.container {
  width: 75%;
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}

button {
  color: var(--clr-white);
  background-color: var(--clr-accent);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1em 2em;
  border: none;
  border-radius: 8px;
  letter-spacing: 0.05em;
  transition: var(--transition);
}

button:hover {
  cursor: pointer;
  color: var(--clr-accent);
  background-color: rgb(230, 230, 230);
}

/**********************************************************
Header
**********************************************************/
header {
  background: linear-gradient(rgba(72, 72, 72, 0.9), rgba(72, 72, 72, 0.9)),
    url(./img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.4rem 4.4rem 0;
}

.logo a {
  color: var(--clr-white);
  font-size: 1.5rem;
}

.logo a:hover {
  color: var(--clr-accent);
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: var(--clr-white);
  opacity: 0.6;
  text-transform: uppercase;
  font-size: 1.21rem;
}

.navbar li:nth-last-child(-n + 2) a {
  margin-left: 3.5em;
}

.navbar a:hover {
  opacity: 1;
}

.hero {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero p {
  color: var(--clr-headSecondary);
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  margin: 1em 0 2em 0;
}

/**********************************************************
Intro
**********************************************************/
.intro .container {
  /* width: 60%; */
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.intro article {
  flex: 0 0 min(50ch, 40%);
}

.intro p {
  text-align: justify;
}

.intro p:first-child {
  padding-bottom: 2em;
}

/**********************************************************
Gallery
**********************************************************/
.gallery {
  background-color: var(--clr-background);
  text-align: center;
}

.gallery .container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.gallery article {
  flex: 1 0 47%;
  border: 2px solid var(--clr-border);
  background-color: var(--clr-white);
}

.gallery h4 {
  margin-bottom: 6rem;
}

.gallery h3 {
  margin: 2em 0 2em 0;
}

.buttons {
  margin-top: 4rem;
}

.buttons button {
  padding: 0.8em 1.6em;
  margin: 0 0.4em;
}

.buttons button:last-child {
  background-color: var(--clr-headPrimary);
}
/**********************************************************
Offers
**********************************************************/
.offers h2,
.offers h4 {
  text-align: center;
}

.offers h4 {
  margin-bottom: 3em;
}

.offers .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.offers article {
  flex: 1 0 45%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.text {
  flex: 0 0 65%;
}

.picture {
  border: 8px solid var(--clr-border);
  border-radius: 50%;
  overflow: hidden;
  flex: 0 0 28%;
  transition: var(--transition);
}

.picture:hover {
  border-color: var(--clr-accent);
}

.picture img {
  transition: var(--transition);
}

.picture:hover img {
  transform: scale(1.2);
}

.offers article:nth-child(even) {
  flex-direction: row-reverse;
}
.offers article:nth-child(odd) .text {
  text-align: right;
}

/**********************************************************
cta
**********************************************************/
.cta {
  background: linear-gradient(rgba(72, 72, 72, 0.9), rgba(72, 72, 72, 0.9)),
    url(./img/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cta h2 {
  color: var(--clr-white);
}

.cta h4 {
  margin-bottom: 1em;
}

/**********************************************************
footer
**********************************************************/
footer {
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icons {
  margin-bottom: 2.5rem;
}

.icons a {
  font-size: 3rem;
  color: var(--clr-headSecondary);
  margin: 0 3.2rem 0 3.2rem;
}

.icons a:hover {
  color: var(--clr-headPrimary);
}

footer ul {
  display: flex;
  justify-content: center;
}

footer ul li {
  text-align: center;
  padding: 0 1.2em 0 1.2em;
}

footer ul li:nth-last-child(-n + 2) {
  border-left: 1px solid var(--clr-headSecondary);
}

footer ul a {
  color: var(--clr-headSecondary);
}

footer ul a:hover {
  color: var(--clr-accent);
}

/**********************************************************
Responsiveness
**********************************************************/
@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
  .intro h2, .intro h4 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  nav {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 2rem;
  }
  .intro .container {
    width: 90%;
    gap: 1.5rem;
  }
  .intro article {
    flex-grow: 1;
  }

  .intro article:last-child {
    flex: 2 0 48%;
  }
  .container {
    width: 90%;
  }

  .buttons button {
    margin-bottom: 1em;
  }
  .offers .container {
    flex-direction: column;
    gap: 7rem;
  }
  .offers article {
    flex-wrap: wrap;
    justify-content: center;
  }
  .text {
    text-align: center;
    flex: 0 0 90%;
  }
  .picture {
    flex: 0 0 60%;
  }
  .offers article:nth-child(odd) .text {
    text-align: center;
  }
  
  .icons a {
    font-size: 2rem;
    color: var(--clr-headSecondary);
    margin: 0 1.5rem 0 1.5rem;
  }
  footer ul {
    flex-direction: column;
  }
  footer ul li:nth-last-child(-n + 2) {
    border-left: none;
  }
  .cta h2 {
    font-size: 2.5rem;
    text-align: center;
  }

  .cta h4 {
    font-size: 2rem;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .intro .container {
    width: 85%;
    gap: 2rem;
  }
  .intro article:last-child {
    flex: 0 0 48%;
  }
  .container {
    width: 80%;
  }
  /* .offers article {
  flex: 1 0 46%;
  } */
  /* .gallery article {
  flex: 1 0 48%;
  } */
}
